<div class="main">
    <header>Goodbye, MARCO ANGELO V. MONTENEGRO</header>
    <app-countdown-timer></app-countdown-timer>
  
    <header>We will miss you!!!</header>
    <div>
        <img src="../assets/images/marco.jpg" height="500px" alt="">
    </div>
  </div>
  <footer>
    <app-svg-icon src="../assets/images/icon-facebook.svg"></app-svg-icon>
    <app-svg-icon src="../assets/images/icon-pinterest.svg"></app-svg-icon>
    <app-svg-icon src="../assets/images/icon-instagram.svg"></app-svg-icon>
  </footer>