@import "../../../styles/colors";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $dark-desaturated-blue;
  font-size: 6rem;
  border-radius: 0.5rem;
  perspective: 500px;
  transform-style: preserve-3d;
  color: $soft-red;
  box-shadow: 0 0.7rem 0 $very-dark-black-blue;

  @media screen and (max-width: 45rem) {
    font-size: 2rem;
    perspective: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 5%;
    aspect-ratio: 1 / 1;
    background-color: $very-dark-black-blue;
    border-radius: 0 100% 0 0;
    bottom: 50%;
    left: 0;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    width: 5%;
    aspect-ratio: 1 / 1;
    background-color: $very-dark-black-blue;
    border-radius: 100% 0 0 0;
    bottom: 50%;
    right: 0;
    z-index: 2;
  }

  .card-half {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;

    &.bottom {
      bottom: 0;
      background-color: $dark-desaturated-blue;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      transform-origin: top;
      z-index: 2;
      box-shadow: 0 -1px 2px $very-dark-black-blue;

      &.flip {
        rotate: x 180deg;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: $very-dark-black-blue;
        border-radius: 0 0 100% 0;
        top: 0;
        left: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: $very-dark-black-blue;
        border-radius: 0 0 0 100%;
        top: 0;
        right: 0;
        z-index: 2;
      }

      .content {
        position: absolute;
        inset: -100% 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($soft-red, 3);
      }
    }

    &.top {
      top: 0;
      background-color: $dark-desaturated-blue;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      transform-origin: bottom;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: $very-dark-black-blue;
        border-radius: 0 100% 0 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: $very-dark-black-blue;
        border-radius: 100% 0 0 0;
        bottom: 0;
        right: 0;
        z-index: 2;
      }

      .content {
        position: absolute;
        inset: 0 0 -100% 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.label {
  color: $grayish-blue;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  @media screen and (max-width: 45rem) {
    font-size: 0.3rem;
  }
}
