@import "../styles/colors";

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0rem 2rem;
  background: url("../assets/images/pattern-hills.svg") bottom no-repeat,
    url("../assets/images/bg-stars.svg") no-repeat, $very-dark-blue;
  background-size: contain;

  @media screen and (max-width: 45rem) {
    background-size: 300%;
  }

}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

header {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: $white;
  text-align: center;
}

footer {
  color: $white;
  display: flex;
  align-items: center;
  gap: 2rem;
}

app-svg-icon {
  fill: $grayish-blue;

  &:hover {
    cursor: pointer;
    fill: $soft-red;
  }
}
