@import './styles/fonts';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $red-hat-bold;
}

body,
html {
  height: 100%;
  background-color: #2F2439 !important;
}